<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>QuestLog - Account</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class="navbar">
    <div class="nav-logo">QuestLog</div>
    <div class="nav-links">
      <a href="/app" class="nav-link">Campaigns</a>
      <a href="/account" class="nav-link">Account</a>
      <a href="/logout" class="nav-link">Log out</a>
    </div>
  </nav>

  <main id="accountRoot" class="content-root">
  </main>

  <div id="alertMessage" class="hidden alert">
    <p id="errorMessage"></p>
  </div>

  <script src="/assets/accountBundle.js"></script>
</body>
</html>
